In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [2]:
!wget 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv' week_3.csv

--2025-10-14 17:37:22--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/course_lead_scoring.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 80876 (79K) [text/plain]
Saving to: ‘course_lead_scoring.csv.1’

course_lead_scoring 100%[===================>]  78.98K   457KB/s    in 0.2s

2025-10-14 17:37:24 (457 KB/s) - ‘course_lead_scoring.csv.1’ saved [80876/80876]

--2025-10-14 17:37:24--  http://week_3.csv/
Resolving week_3.csv (week_3.csv)... failed: Name or service not known.
wget: unable to resolve host address ‘week_3.csv’
FINISHED --2025-10-14 17:37:24--
Total wall clock time: 1.8s
Downloaded: 1 files, 79K in 0.2s (457 KB/s)

In [3]:
df = pd.read_csv('course_lead_scoring.csv')
df.head()

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1

In [4]:
df.head().T

,0,1,2,3,4
lead_source,paid_ads,social_media,events,paid_ads,referral
industry,NaN,retail,healthcare,retail,education
number_of_courses_viewed,1,1,5,2,3
annual_income,79450.0,46992.0,78796.0,83843.0,85012.0
employment_status,unemployed,employed,unemployed,NaN,self_employed
location,south_america,south_america,australia,australia,europe
interaction_count,4,1,3,1,3
lead_score,0.94,0.8,0.69,0.87,0.62
converted,1,0,1,0,1

In [5]:
df.describe()

,number_of_courses_viewed,annual_income,interaction_count,lead_score,converted
count,1462.000000,1281.000000,1462.000000,1462.000000,1462.000000
mean,2.031464,59886.273224,2.976744,0.506108,0.619015
std,1.449717,15070.140389,1.681564,0.288465,0.485795
min,0.000000,13929.000000,0.000000,0.000000,0.000000
25%,1.000000,49698.000000,2.000000,0.262500,0.000000
50%,2.000000,60148.000000,3.000000,0.510000,1.000000
75%,3.000000,69639.000000,4.000000,0.750000,1.000000
max,9.000000,109899.000000,11.000000,1.000000,1.000000

In [6]:
df

,lead_source,industry,number_of_courses_viewed,annual_income,employment_status,location,interaction_count,lead_score,converted
0,paid_ads,NaN,1,79450.0,unemployed,south_america,4,0.94,1
1,social_media,retail,1,46992.0,employed,south_america,1,0.80,0
2,events,healthcare,5,78796.0,unemployed,australia,3,0.69,1
3,paid_ads,retail,2,83843.0,NaN,australia,1,0.87,0
4,referral,education,3,85012.0,self_employed,europe,3,0.62,1
...,...,...,...,...,...,...,...,...,...
1457,referral,manufacturing,1,NaN,self_employed,north_america,4,0.53,1
1458,referral,technology,3,65259.0,student,europe,2,0.24,1
1459,paid_ads,technology,1,45688.0,student,north_america,3,0.02,1
1460,referral,NaN,5,71016.0,self_employed,north_america,0,0.25,1
1461,organic_search,finance,3,92855.0,student,north_america,3,0.41,1

In [7]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income               181
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [8]:
df.describe(include='object')

           lead_source industry employment_status       location
count             1334     1328              1362           1399
unique               5        7                 4              7
top     organic_search   retail     self_employed  north_america
freq               282      203               352            225

In [9]:
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)

In [10]:
categorical_columns

['lead_source', 'industry', 'employment_status', 'location']

In [11]:
numerical_columns = list(df.dtypes[df.dtypes != 'object'].index)

In [12]:
numerical_columns = ['number_of_courses_viewed', 'annual_income', 'interaction_count', 'lead_score']

In [13]:
numerical_columns

['number_of_courses_viewed',
 'annual_income',
 'interaction_count',
 'lead_score']

In [14]:
for n in numerical_columns:
    df[n] = df[n].fillna(0)

In [15]:
df.isnull().sum()

lead_source                 128
industry                    134
number_of_courses_viewed      0
annual_income                 0
employment_status           100
location                     63
interaction_count             0
lead_score                    0
converted                     0
dtype: int64

In [16]:
for c in categorical_columns:
    df[c] = df[c].fillna('NA')

In [17]:
df.isnull().sum()

lead_source                 0
industry                    0
number_of_courses_viewed    0
annual_income               0
employment_status           0
location                    0
interaction_count           0
lead_score                  0
converted                   0
dtype: int64

In [18]:
df['industry'].describe()

count       1462
unique         8
top       retail
freq         203
Name: industry, dtype: object

In [19]:
df['industry'].describe()

count       1462
unique         8
top       retail
freq         203
Name: industry, dtype: object

In [20]:
industry_mode = df['industry'].mode()[0]
industry_mode

'retail'

In [21]:
df[numerical_columns].corrwith(df.converted).abs()

number_of_courses_viewed    0.435914
annual_income               0.053131
interaction_count           0.374573
lead_score                  0.193673
dtype: float64

In [22]:
correlation_matrix = df[numerical_columns].corr()
print("Correlation Matrix:")
print(correlation_matrix)

Correlation Matrix:
                          number_of_courses_viewed  annual_income  \
number_of_courses_viewed                  1.000000       0.009770
annual_income                             0.009770       1.000000
interaction_count                        -0.023565       0.027036
lead_score                               -0.004879       0.015610

                          interaction_count  lead_score
number_of_courses_viewed          -0.023565   -0.004879
annual_income                      0.027036    0.015610
interaction_count                  1.000000    0.009888
lead_score                         0.009888    1.000000

In [23]:
# Find the pair with the highest absolute correlation (excluding diagonal)
correlation_pairs = []
for i in range(len(numerical_columns)):
    for j in range(i+1, len(numerical_columns)):
        feature1 = numerical_columns[i]
        feature2 = numerical_columns[j]
        corr_value = correlation_matrix.loc[feature1, feature2]
        correlation_pairs.append((feature1, feature2, corr_value, abs(corr_value)))

# Sort by absolute correlation to find the strongest relationship
correlation_pairs_sorted = sorted(correlation_pairs, key=lambda x: x[3], reverse=True)

print("\nCorrelation pairs sorted by strength:")
for pair in correlation_pairs_sorted:
    print(f"{pair[0]} & {pair[1]}: {pair[2]:.4f}")

# Get the pair with the highest correlation
strongest_pair = correlation_pairs_sorted[0]
print(f"\nThe two features with the biggest correlation are: {strongest_pair[0]} and {strongest_pair[1]}")
print(f"Correlation coefficient: {strongest_pair[2]:.4f}")

Correlation pairs sorted by strength:
annual_income & interaction_count: 0.0270
number_of_courses_viewed & interaction_count: -0.0236
annual_income & lead_score: 0.0156
interaction_count & lead_score: 0.0099
number_of_courses_viewed & annual_income: 0.0098
number_of_courses_viewed & lead_score: -0.0049

The two features with the biggest correlation are: annual_income and interaction_count
Correlation coefficient: 0.0270

In [24]:
# Split the data

#     Split your data in train/val/test sets with 60%/20%/20% distribution.
#     Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
#     Make sure that the target value converted is not in your dataframe.

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [27]:
len(df_train), len(df_val), len(df_test)

(876, 293, 293)

In [28]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [29]:
y_train = df_train.converted.values
y_val = df_val.converted.values
y_test = df_test.converted.values

del df_train['converted']
del df_val['converted']
del df_test['converted']

In [30]:
from sklearn.metrics import mutual_info_score

In [31]:
def mutual_info_converted_score(series):
    return round(mutual_info_score(series, y_train), 2)

In [32]:
mi = df_train[categorical_columns].apply(mutual_info_converted_score)
mi.sort_values(ascending=False)

lead_source          0.04
industry             0.01
employment_status    0.01
location             0.00
dtype: float64

In [34]:
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [36]:
# Create preprocessor with one-hot encoding for categorical variables
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numerical_columns),
        ('cat', OneHotEncoder(drop='first', sparse_output=False), categorical_columns)
    ])

# Apply preprocessing
X_train_processed = preprocessor.fit_transform(df_train)
X_val_processed = preprocessor.transform(df_val)

In [37]:
from sklearn.linear_model import LogisticRegression

In [38]:
model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train_processed, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [39]:
# Make predictions on validation set
y_val_pred = model.predict(X_val_processed)

# Calculate accuracy
accuracy = accuracy_score(y_val, y_val_pred)
accuracy_rounded = round(accuracy, 2)

print(f"Accuracy on validation dataset: {accuracy}")
print(f"Accuracy rounded to 2 decimal digits: {accuracy_rounded}")

Accuracy on validation dataset: 0.6996587030716723
Accuracy rounded to 2 decimal digits: 0.7

In [ ]:
## Q6

In [43]:
C_values = [0.01, 0.1, 1, 10, 100]
accuracies = {}

for C in C_values:
    # Train logistic regression model with current C value
    model = LogisticRegression(solver='liblinear', C=C, max_iter=1000, random_state=42)
    model.fit(X_train_processed, y_train)
    
    # Make predictions on validation set
    y_val_pred = model.predict(X_val_processed)
    
    # Calculate accuracy
    accuracy = accuracy_score(y_val, y_val_pred)
    accuracy_rounded = round(accuracy, 3)
    accuracies[C] = accuracy_rounded
    
    print(f"C = {C:6}: Accuracy = {accuracy:.4f} -> Rounded: {accuracy_rounded:.3f}")

# Find the best C value
best_C = max(accuracies, key=accuracies.get)
best_accuracy = accuracies[best_C]

print("\n" + "=" * 50)
print(f"Best C value: {best_C}")
print(f"Best accuracy: {best_accuracy:.3f}")

C =   0.01: Accuracy = 0.6997 -> Rounded: 0.700
C =    0.1: Accuracy = 0.6997 -> Rounded: 0.700
C =      1: Accuracy = 0.6997 -> Rounded: 0.700
C =     10: Accuracy = 0.6997 -> Rounded: 0.700
C =    100: Accuracy = 0.6997 -> Rounded: 0.700

==================================================
Best C value: 0.01
Best accuracy: 0.700

In [ ]:

#     Let's find the least useful feature using the feature elimination technique.
#     Train a model using the same features and parameters as in Q4 (without rounding).
#     Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
#     For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

# Which of following feature has the smallest difference?

#     'industry'
#     'employment_status'
#     'lead_score'

In [40]:
full_column = categorical_columns + numerical_columns

In [41]:
full_column

['lead_source',
 'industry',
 'employment_status',
 'location',
 'number_of_courses_viewed',
 'annual_income',
 'interaction_count',
 'lead_score']

In [47]:
preprocessor_all = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', ['number_of_courses_viewed', 'annual_income', 'interaction_count', 'lead_score']),
        ('cat', OneHotEncoder(drop='first', sparse_output=False), ['lead_source', 'industry', 'employment_status', 'location'])
    ])

X_train_all = preprocessor_all.fit_transform(df_train)
X_val_all = preprocessor_all.transform(df_val)

model_all = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model_all.fit(X_train_all, y_train)
y_val_pred_all = model_all.predict(X_val_all)
original_accuracy = accuracy_score(y_val, y_val_pred_all)

print(f"Original accuracy with all features: {original_accuracy:.4f}")

# Test each feature by excluding it
accuracy_differences = {}

for feature_to_exclude in full_column:
    print(f"\nExcluding feature: {feature_to_exclude}")
    
    # Determine which features to keep
    features_to_keep = [f for f in full_column if f != feature_to_exclude]
    
    # Separate categorical and numerical features to keep
    cat_features_to_keep = [f for f in features_to_keep if f in categorical_columns]
    num_features_to_keep = [f for f in features_to_keep if f in numerical_columns]
    
    # Create preprocessor for this feature set
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', 'passthrough', num_features_to_keep),
            ('cat', OneHotEncoder(drop='first', sparse_output=False), cat_features_to_keep)
        ])
    
    # Apply preprocessing
    X_train_processed = preprocessor.fit_transform(df_train)
    X_val_processed = preprocessor.transform(df_val)
    
    # Train model
    model = LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train_processed, y_train)
    
    # Make predictions and calculate accuracy
    y_val_pred = model.predict(X_val_processed)
    accuracy = accuracy_score(y_val, y_val_pred)
    
    # Calculate difference from original accuracy
    difference = original_accuracy - accuracy
    accuracy_differences[feature_to_exclude] = difference
    
    print(f"Accuracy without {feature_to_exclude}: {accuracy:.4f}")
    print(f"Difference from original: {difference:.4f}")

# Find the feature with the smallest difference
smallest_diff_feature = min(accuracy_differences, key=lambda x: abs(accuracy_differences[x]))
smallest_diff_value = accuracy_differences[smallest_diff_feature]

print(f"\n{'='*50}")
print("Summary of accuracy differences:")
for feature, diff in sorted(accuracy_differences.items(), key=lambda x: abs(x[1])):
    print(f"{feature}: {diff:.4f}")

print(f"\nThe feature with the smallest difference is: '{smallest_diff_feature}'")
print(f"Difference: {smallest_diff_value:.4f}")

Original accuracy with all features: 0.6997

Excluding feature: lead_source
Accuracy without lead_source: 0.7031
Difference from original: -0.0034

Excluding feature: industry
Accuracy without industry: 0.6997
Difference from original: 0.0000

Excluding feature: employment_status
Accuracy without employment_status: 0.6962
Difference from original: 0.0034

Excluding feature: location
Accuracy without location: 0.7099
Difference from original: -0.0102

Excluding feature: number_of_courses_viewed
Accuracy without number_of_courses_viewed: 0.5563
Difference from original: 0.1433

Excluding feature: annual_income
Accuracy without annual_income: 0.8532
Difference from original: -0.1536

Excluding feature: interaction_count
Accuracy without interaction_count: 0.5563
Difference from original: 0.1433

Excluding feature: lead_score
Accuracy without lead_score: 0.7065
Difference from original: -0.0068

==================================================
Summary of accuracy differences:
industry: 0.0000
employment_status: 0.0034
lead_source: -0.0034
lead_score: -0.0068
location: -0.0102
number_of_courses_viewed: 0.1433
interaction_count: 0.1433
annual_income: -0.1536

The feature with the smallest difference is: 'industry'
Difference: 0.0000