In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'2.2.2'

In [4]:
data = pd.read_csv('/home/regent/Downloads/DataTalk/01/car_fuel_efficiency.csv')

In [5]:
data

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [6]:
data.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [7]:
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [8]:
data.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [9]:
data.describe(include='object')

        origin fuel_type       drivetrain
count     9704      9704             9704
unique       3         2                2
top     Europe  Gasoline  All-wheel drive
freq      3254      4898             4876

In [10]:
asia_cars = data[data['origin'] == 'Asia']
max_efficiency = asia_cars['fuel_efficiency_mpg'].max()

print(max_efficiency)

23.759122836520497

In [11]:
data.vehicle_weight.sum()

29124430.759692904

In [12]:
data.horsepower.median()

149.0

In [13]:
data.horsepower.mode()

0    152.0
Name: horsepower, dtype: float64

In [14]:
mode_value = data.horsepower.mode()

In [15]:
most_frequent = mode_value.iloc[0] if not mode_value.empty else None

In [16]:
mode_value

0    152.0
Name: horsepower, dtype: float64

In [17]:
data['horsepower_filled'] = data['horsepower'].fillna(most_frequent)

In [18]:
data['horsepower_filled'] = data['horsepower_filled'].astype(float)

In [19]:
new_median = data.horsepower_filled.median()

In [20]:
print(new_median)

152.0

In [21]:
data.horsepower.median()

149.0

In [23]:
asia_cars = data[data['origin'] == 'Asia']

selected_data = asia_cars[['vehicle_weight', 'model_year']]

first_7 = selected_data.head(7)

X = first_7.values
print("Step 4 - X shape:", X.shape)
print("X:\n", X)

XTX = X.T @ X
print("\nStep 5 - XTX shape:", XTX.shape)
print("XTX:\n", XTX)

XTX_inv = np.linalg.inv(XTX)
print("\nStep 6 - XTX_inv shape:", XTX_inv.shape)
print("XTX_inv:\n", XTX_inv)


y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print("\nStep 7 - y:", y)


w = XTX_inv @ X.T @ y
print("\nStep 8 - w:", w)

result_sum = np.sum(w)
print("\nStep 9 - Sum of all elements of w:", result_sum)

Step 4 - X shape: (7, 2)
X:
 [[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

Step 5 - XTX shape: (2, 2)
XTX:
 [[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

Step 6 - XTX_inv shape: (2, 2)
XTX_inv:
 [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

Step 7 - y: [1100 1300  800  900 1000 1100 1200]

Step 8 - w: [0.01386421 0.5049067 ]

Step 9 - Sum of all elements of w: 0.5187709081074016